<!DOCTYPE html>
<html>
<head th:replace="~{base :: cabecalho}">
</head>
<body> 
    <nav th:replace="~{base :: navbar}">Navbar</nav>
	<div class="container d-flex justify-content-center">
		
		<div class="col-md-6">
	<div class="jumbotron mb-3">
		<h1 class="display-4">Cadastrar Filme</h1>
	</div>
		<form action="/filmes/cadastrar" method="POST" >
			<div  class="form-group">
				<label>Titulo do filme</label>
				<input class="form-control" name="titulo" type="text" placeholder="Nome do filme" />
			</div  >
			<div >
				<label>Diretor</label>
				<input class="form-control" name="diretor" type="text" placeholder="Diretor" />
			</div >
			<div >
				<label>Url da imagem</label>
				<input class="form-control" name="url" type="text" placeholder="Url da imagem" />
			</div >
			<div >
				<label>Sinopse</label>
				<textarea class="form-control" name="sinopse" placeholder="Sinopse"></textarea>
			</div >
			<div  class="form-group">
				<label>Elenco</label>
				<input class="form-control" name="elencoPrincipal" type="text" placeholder="Elenco" />
			</div>
				<div  class="form-group">
				<label>País</label>
				<input class="form-control" name="pais" type="text" placeholder="País" />
			</div>
			<div  class="form-group">
				<label>Ano</label>
				<input class="form-control" name="ano" type="text" placeholder="Ano" />
			</div>
			<button class="btn btn-outline-success"type="submit">Salvar</button>
			<a class="btn btn-outline-danger" href="/filmes">Cancelar</a>
			</div>
		</form>
	</div>
		</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>