<!DOCTYPE html>
<html>
<head th:replace="~{base::cabecalho}">
</head>
<body>
	<nav th:replace="~{base::navbar}"></nav>
	
	<div class="container d-flex justify-content-center">
		
		<div class="col-md-6">
	<div class="jumbotron mb-3">
		<h1 class="display-4">Avaliar</h1>
	</div>
		<form th:object="${produto}" th:action="@{avaliar}" method="POST" >
			<div  class="form-group">
				<label>Titulo</label>
				<input class="form-control" name="idProduto" th:field="*{titulo}"  type="text" placeholder="Titulo do filme" readonly="readonly"/>
			</div  >
			<div >
				<label>Nota</label>
				<input class="form-control" th:name="valorNota"   type="text" placeholder="Nota" />
			</div >
			<button style="margin-top:10px;" class="btn btn-outline-success"type="submit">Avaliar</button>
		</form>
	</div>
		</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
</body>
</html>