<!DOCTYPE html>
<html>
<head th:replace="~{base::cabecalho}">
</head>
<body>
	<nav th:replace="~{base::navbar}"></nav>

	<div class="container">
		<div class="alert alert-danger" th:if="${msg}">
			Pesquisa não encontrada.
		</div>
	
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1>
					Bem vindo, <span th:text="${usuario}"></span>
				</h1>
				<p class="lead">Avalie nossos Filmes, Livros e Series.</p>
			</div>
		</div>

		<div>
			<form class="form-inline" action="/pesquisar" method="GET">
				<input class="form-control mr-sm-2" type="search"
					name="titulo"
					placeholder="Pesquisar..." aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
			</form>
		</div>

	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>