<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="css/style.css"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=RocknRoll+One&display=swap" rel="stylesheet">
  <title>Login</title>
</head>
<body>
  <main>
  	<div class="alert alert-success" th:if="${msg}">
  		Cadastrado com sucesso!
  	</div>
  	<h1>Cult Reviews</h1>
    <form action="/login" class="form-login" method="POST">
    <div class="user-icon">
      <hr>
      <img src="images/usuario.png" alt="imagem do usuário">
    </div>  
    <div >
      <div class="btn-credentials">
        <input name="username" type="text" placeholder="Nome de usuário">
      </div> 
    </div>
    <div >
      <div class="btn-credentials">
        <input name="password" type="password" placeholder="Senha">
      </div>
      <div class="btn-login">
        <input type="submit" value="Login">
      </div>
      <div class="links">
        <a href="/usuario/cadastro">Cadastrar</a>
        <a href="#">Esqueceu sua senha?</a>
      </div>
    </div>    
    </form>
  </main>

</body>
</html>